.git
.github
.cursor
**/.terraform
**/*.tfstate
**/*.tfstate.*
*.tfvars
!*.tfvars.example
backend.hcl
!backend.hcl.example

node_modules
**/node_modules
apps/api/dist
**/.next
**/.document-storage
coverage
test-results
playwright-report

.env
.env.*
!.env.example
!**/.env.example
!.env*.example
!**/.env*.example
*.pem

apps/web/*
!apps/web/package.json

docs
infra
postman
scripts
packages
*.md
!package.json
